{% extends 'base.html' %}

{% block title %} SERVICIOS | HOTEL {% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row g-4">
        <!-- Tarjeta 1 -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 border-0 shadow" id="card-mov">
                <img src="/static/images/spa.jpg" class="card-img-top" alt="Spa">
                <div class="card-body text-center">
                    <h4 class="card-title">Spa y Bienestar</h4>
                    <div class=" mb-2 stars">★ ★ ★ ☆ ☆</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Masajes relajantes</li>
                        <li class="list-group-item">Tratamientos faciales</li>
                        <li class="list-group-item">Ambiente zen</li>
                    </ul>
                    <a href="#" class="btn btn-primary mt-4">Leer más</a>

                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 border-0 shadow" id="card-mov">
                <img src="/static/images/piscina.jpg" class="card-img-top" alt="Piscina">
                <div class="card-body text-center">
                    <h4 class="card-title">Piscinas</h4>
                    <div class="stars mb-2">★ ★ ★ ★ ☆</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Climatizada todo el año</li>
                        <li class="list-group-item">Zona infantil divertida</li>
                        <li class="list-group-item">Área lounge</li>
                    </ul>
                    <a href="#" class="btn btn-primary mt-4">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 border-0 shadow" id="card-mov">
                <img src="/static/images/habitacion.jpg" class="card-img-top" alt="Habitaciones">
                <div class="card-body text-center">
                    <h4 class="card-title">Habitaciones</h4>
                    <div class="stars mb-2">★ ★ ★ ★ ★</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cama king-size</li>
                        <li class="list-group-item">Minibar y Smart TV</li>
                        <li class="list-group-item">Comodidad total</li>
                    </ul>
                    <a href="#" class="btn btn-primary mt-4">Leer más</a>
                </div>
            </div>
        </div>
        <!-- Tarjeta 4 -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 border-0 shadow" id="card-mov">
                <img src="/static/images/restaurante.jpg" class="card-img-top" alt="Habitaciones">
                <div class="card-body text-center">
                    <h4 class="card-title">Restaurante</h4>
                    <div class="stars mb-2">★ ★ ★ ★ ★</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cocina gourmet</li>
                        <li class="list-group-item">Ambiente elegante</li>
                        <li class="list-group-item">Atención premium</li>
                    </ul>
                    <a href="#" class="btn btn-primary mt-4">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}